
@{
    ViewBag.Title = "About";
}

<h3 class="orange-text center-align">About</h3>

<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header active"><i class="material-icons">perm_identity</i>Developer</div>
        <div class="collapsible-body">
            <p>Name: Emmanuel Hidalgo Astorga.
            <br>E-mail: emmanuel_1693@hotmail.es
            <br>Nationality: Costa Rican
            <br>University: Universidad de Costa Rica
            </p>
        
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">report_problem</i>Solution for the problem</div>
        <div class="collapsible-body"><p>To solve this problem it's necessary  to extract the data from the document that the user upload to the page.  
            Once I have the data, the next step is to send the information to the Web Service that is the one who "make" the tournament  
            and decides who win (based on the strategy that the player have) and send back to the user the winner of the championship.</p></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">done_all</i>Justification</div>
        <div class="collapsible-body"><p>Tecnologies used: 
            <br>Microsoft Server SQL 2012
            <br>Microsoft MVC 5 
            <br>Materializecss 
            <br>WebAPI 
            <br> I decided to use .NET technologies  because the documentation that i found was better and the development enviroment was perfect for the solution that I had in mind. 
            </p></div>
    </li>
</ul>
